body, ul {
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #222;
    color: #fff;
    width: 150px; /* Adjust the width as needed */
    height: 100%; /* Fill the entire height of the viewport */
    position: fixed; /* Fixed position to keep it on the side */
    top: 0;
    left: 0;
    overflow-y: auto; /* Enable scrolling if content exceeds the viewport height */
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    padding: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

/* Adjust the main content area to avoid overlapping with the sidebar */
section {
    margin-left: 150px; /* Adjust this margin to match the sidebar width */
    padding: 20px;
    box-sizing: border-box;
}

.profile-image {
    max-width: 80%;
    height: auto;
    display: block;
    align-items: center;
}

.profile-section {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh; /* Set the container to the full viewport height */
}

.container{
    margin-left: 150px; /* Adjust this margin to match the sidebar width */
    padding: 20px;
    box-sizing: border-box;
}

.bio-seciton{
    margin-left: 150px; /* Adjust this margin to match the sidebar width */
    padding: 20px;
    box-sizing: border-box;
}
